<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestDrawingLinearInterp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FDE37CF81C0C37C800EA0DD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDE37D111C0C37C900EA0DD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDE37D1C1C0C37C900EA0DD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
